@model IEnumerable<ToDoListV99.Models.List>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ListName)</th>
            <th>Delete</th>
        </tr>
    </thead>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    @foreach (var item in Model)
    {

        <tr>
            <td>


                @Html.ActionLink(item.ListName, "AddCategoriesToAList", new {id = item.ListId})
            </td>
            <td>


                @Html.ActionLink("Delete", "Delete", new {id = item.ListId})
            </td>
        </tr>
    }

</table>
