@model IEnumerable<ToDoListV99.Models.List>

@{
    ViewBag.Title = "My Lists";
}

<h2>Index</h2>

<p> 
    @Html.ActionLink("Create New", "Create")
</p>
<div id="listTableDiv"></div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildListTable.js"></script>

}
