@model IEnumerable<ToDoListV99.Models.Item>

@{
    ViewBag.Title = "ViewItems";
}

<h2>ViewItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="itemTableDiv"></div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildItemTable.js"></script>

}

