@model ToDoListV99.Models.Item

@{
    ViewBag.Title = "ViewItems";
}


<div id="itemTableDiv"></div>

    @section Scripts{
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Custom_Scripts/BuildItemTable.js"></script>
        @Scripts.Render("~/bundles/jqueryval")

    }

