@model IEnumerable<ToDoListV99.Models.List>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Group 3 Project 1 To Do Lists</h1>
    <div id="listTableDiv"></div>
</div>



@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildListTable.js"></script>
}